<div class="jumbo">
    <div class="right tomster"></div>
    <br/>
    <h2>Welcome!</h2>
    <p>We hope you find exactly what you're looking for in a place to stay.</p>
    <br/>
    {{#list-filter
        filter=(action 'filterByCity')
        as |rentals|}}
        <ul class="results">
            {{#each rentals as |rentalUnit|}}
                <li>{{rental-listing rental=rentalUnit}}</li>
            {{/each}}
        </ul>
    {{/list-filter}}
</div>
